@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

body{
    cursor: url(https://dkvs.github.io/worskpace/iconos/11.webp), auto;
    background-clip: var(--clip, border-box);
    background-origin: var(--origin, padding-box);
 }


 header {
  position: sticky;
  top: 0;
}

.menu-responsive{
  position: sticky;
  top: 1px;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

}

.boton-contenedor{
  display: flex;
  flex-direction: column-reverse;
  text-decoration: none;
}

.boton{
  background-color: #102638;
  color: #57FA7B;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  padding: 8px 10px 8px 10px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1rem;
  cursor:pointer;
}


.boton:hover {
  background-color: #57fa7aae;
  color: white;
}

.active:focus {
  background: yellow;
  color: white;

}

.principal{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contenedor {
    display: grid;
    max-height: 100%;
    justify-content: center;
    width: 50%;
    margin: 0px auto;
    padding-top: 10px;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "ab exper educ ski ctf cont";
    grid-column-gap: 5rem;
    grid-row-gap: 0px;
}

.icono{
  width: 100px;
  height: 100px;
}


.ab {
    grid-area: ab;
    background: url(https://dkvs.github.io/worskpace/iconos/ver.svg) no-repeat;
  }

.exper {
        grid-area: exper;
        background: url(https://dkvs.github.io/worskpace/iconos/experience-icon.svg) no-repeat;
}


.educ {
    grid-area: educ;
    background: url(https://dkvs.github.io/worskpace/iconos/education-icon.svg) no-repeat;
}


.ski {
    grid-area: ski;
    background: url(https://dkvs.github.io/worskpace/iconos/skills-icon.svg) no-repeat;
}


.ctf {
        grid-area: ctf;
        background: url(https://dkvs.github.io/worskpace/iconos/ctfs-icon.svg) no-repeat;
}


.cont {
    grid-area: cont;
    background: url(https://dkvs.github.io/worskpace/iconos/contact-icon.svg) no-repeat;
}


.aboutcontenedor{
  background-image: url(https://dkvs.github.io/worskpace/img/about-background.png);
  background-position: 50%;
  background-size: cover;
  margin: 0px auto;
  display: grid;
  max-height: 100%;
  grid-template-columns: 50%;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: 'acercade .'
                        'acercade .';
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

}

.acercade {
  grid-area: acercade;
  font-family: 'Fira Sans';
  font-weight: 200;
  background-color: #102638;
  background: linear-gradient(140deg, #102638, 85%, #57FA7B);
  border-top-left-radius: 1.8em;
  border-bottom-left-radius: 1.8em;
  color:white;
  line-height: 2;
  padding: 4rem;
  margin-left: 3rem;
  max-height: auto;
  align-content: center;

}


.experiencecontenedor{
  background-image: url(https://dkvs.github.io/worskpace/img/experience-background.png);
  background-position: 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin: 0px auto;

}

.experience {
  width: 80%;
  max-height: auto;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  border-radius: 25px;
  color:white;
  font-family: 'Fira Sans';
  font-weight: 200;
  line-height: 2;
  background-color: #102638; /* For browsers that do not support gradients */
  background: linear-gradient(167deg, #57FA7B, #102638 37%);
  border-radius: 25px;
  color:white;
  justify-content: center;
}

.hero{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://dkvs.github.io/worskpace/img/hero-background.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.text-title{
  font-family:'Montserrat';
  color: white;
  text-align: center;
  font-size: 2rem;
}

.title{
  letter-spacing: 0.1rem;
  font-family:'Montserrat';
  font-weight: 600;
}

.subtitle{
  font-family:'Montserrat';
  font-weight: 200;
  color: #57FA7B;
  font-size: 1.5rem;
}

.text-block{
  font-weight: 400;
  font-size: 1.1rem;
}

.title-exp{
  font-size: 1.2rem;
}

.text-content{
  font-size: 1rem;

}


.educationcontenedor{
  background-image: url(https://dkvs.github.io/worskpace/img/education-background.png);
  background-position: 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin: 0px auto;
}

.education {
  width: 80%;
  max-height: auto;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  border-radius: 25px;
  color:white;
  font-family: 'Fira Sans';
  font-weight: 200;
  line-height: 2;
  background-color: #102638; /* For browsers that do not support gradients */
  background: linear-gradient(167deg, #57FA7B, #102638 37%);
  border-radius: 25px;
  color:white;
  justify-content: center;
}

.gridedu{
  display: grid;
  max-height: 100%;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: 'edu1 edu2'
                        'edu3 edu4';
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  justify-content: center;

}

.edu1{
grid-area: edu1;
}

.edu2{
grid-area: edu2;
}

.edu3{
grid-area: edu3;
}

.edu4{
grid-area: edu4;
}

.skillscontenedor{
  background-image: url(https://dkvs.github.io/worskpace/img/skills-background.jpg);
  background-position: 50%;
  background-size: cover;
  margin: 0px auto;
  display: grid;
  max-height: 100%;
  grid-template-columns: 50%;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: '. contenidos'
                       '. contenidos';
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  color: white;
}



.contenidos {
  grid-area: contenidos;
  align-content: center;
}

.skillsgrid{
  padding-top: 20px;
  padding-bottom: 20px;
}

.skill1{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.skill2{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.skill3{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.skill4{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.pills{
  width: 180px;
  height: 45px;
}


.pills2{
  width: 262px;
  height: 49px;
}

.linux {
  background: url(https://dkvs.github.io/worskpace/iconos/linux.svg) no-repeat;
}

.windows {
  background: url(https://dkvs.github.io/worskpace/iconos/windows.svg) no-repeat;
}

.sql {
  background: url(https://dkvs.github.io/worskpace/iconos/sql.svg) no-repeat;
}

.python {
  background: url(https://dkvs.github.io/worskpace/iconos/python.svg) no-repeat;
}

.bash {
  background: url(https://dkvs.github.io/worskpace/iconos/bash.svg) no-repeat;
}

.siem {
  background: url(https://dkvs.github.io/worskpace/iconos/siem.svg) no-repeat;
}

.nmap {
  background: url(https://dkvs.github.io/worskpace/iconos/nmap.svg) no-repeat;
}

.wireshark {
  background: url(https://dkvs.github.io/worskpace/iconos/wireshark.svg) no-repeat;
}

.lenguages{
  font-family: 'Fira Sans';
}

.ctfspill {
  background: url(https://dkvs.github.io/worskpace/iconos/ctfs.svg) no-repeat;
}



.bordetable{
  border: 2px solid #57FA7B;

}

.contactcontenedor{
  background-image: url(https://dkvs.github.io/worskpace/img/contact-background.png);
  background-position: 50%;
  background-size: cover;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: 'contact .'
                        'contact .';
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

}

.contact {
  grid-area: contact;
  font-family: 'Fira Sans';
  font-weight: 200;
  background-color: #102638;
  background: linear-gradient(140deg, #102638, 85%, #57FA7B);
  border-top-left-radius: 1.8em;
  border-bottom-left-radius: 1.8em;
  color:white;
  line-height: 2;
  padding: 4rem;
  margin-left: 3rem;
  max-height: auto;
  align-content: center;
}

.socialicon{
  width: 50px;
  height: 50px;
  padding-right: 20px;
}

.social-icons{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-title {
  font-size: 1.4rem;
  font-family: 'Montserrat';
  font-weight: 400;
}

.social-url{
  font-size: 1.2rem;
  font-family: 'Fira Sans';
  font-weight: 400;
  color: #57FA7B;
}

.git {
    background: url(https://dkvs.github.io/worskpace/iconos/git.svg) no-repeat;
  }

  .linkedin {
    background: url(https://dkvs.github.io/worskpace/iconos/linkedin.svg) no-repeat;
  }

  .tel {
    background: url(https://dkvs.github.io/worskpace/iconos/tel.svg) no-repeat;
  }

  .mail {
    background: url(https://dkvs.github.io/worskpace/iconos/mail.svg) no-repeat;
  }




@media only screen and (max-width: 900px) {

  header {
    position:inherit ;
    top: 0;
  }


 }






  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  .text-block{
    font-size: 1rem;
  }

  .title{
    font-size: 1rem;
  }

  .title-exp{
    font-size: 1rem;
  }

.back{
    grid-area: back;
}



.desplazarse-hacia-arriba {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.flecha-arriba {
  width: 3rem;
  height: 3rem;
}


@media screen and (max-width: 720px) {


  .text-title{
    font-family:'Montserrat';
    color: white;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
  }

  .aboutcontenedor{
    display: flex;
    background-image: url(https://dkvs.github.io/worskpace/img/about-background.png);
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: auto;
  }

  .acercade {
    font-family: 'Fira Sans';
    font-weight: 200;
    background-color: #102638;
    background: linear-gradient(140deg, #102638, 85%, #57FA7B);
    color:white;
    line-height: 2;
    font-size: 10px;
    margin: 0;
    padding: 32px;  
    border-radius: 0px;
  }

  .experiencecontenedor{
    display: flex;
    justify-content: center;
    margin: 0px auto;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: auto;

  }

.title{
  font-size: 15px;

}

.pills {
  width: 150px;
  height: 40px;
}

.pills2 {
  width: 262px;
  height: 32px;
}

  .experience {
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    background-color: #102638; /* For browsers that do not support gradients */
    background: linear-gradient(167deg, #57FA7B, #102638 37%);
    color:white;
    padding-right: 14px;
    padding-left: 14px;  
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .gridedu{
    display: flex;
    flex-direction: column;
  }


  .educationcontenedor{
    display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;  
        margin: 0px auto;
        flex-wrap: wrap;
        align-content: center;
      }

  .education {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, #102638, 90%,#57FA7B);
    border-radius: 0px;
    color:white;
    font-family: 'Fira Sans';
    padding-right: 14px;
    padding-left: 14px;  
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;}

   
  .dot{
    margin-bottom: 10px;
  }

  .skillscontenedor{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, #102638, 90%,#57FA7B);
  }
  

  .contactcontenedor{
    display: flex;
    background-image: url(https://dkvs.github.io/worskpace/img/contact-background.png);
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;


  }

  .contenidos{
    padding: 20px;

  }
   .contact {
    font-family: 'Fira Sans';
    font-weight: 200;
    background-color: #102638;
    border-radius: 0px;
    color:white;
    line-height: 2;
    margin: 0;
    padding: 20px;
  } 

  .social-url{
    font-size: 15px;
  }

  .principal{
    display: none;
  }


  .icono{
    display: none;
  }

  .desplazarse-hacia-arriba {
    right: 13.5%;
  }
}


@media (min-width: 768px) {
  .aboutcontenedor {
    height: 100vh;
}

.experiencecontenedor {
  height: 100vh;
}

.hero {
}

.educationcontenedor {
  height: 100vh;
}

.aboutcoskillscontenedorntenedor {
  height: 100vh;
}

.contactcontenedor {
  height: 100vh;
}

.educationcontenedor {
  height: 100vh;
}


.skillscontenedor{
  height: 100vh;

}


}




  /*menu responsive */
  .menu-responsive {
    background: #102638;
    height: 60px;
    position: sticky;
    top: 1px;
    width: 100%;
  }
  

  #menu {
    position: absolute;
    top: 60px;
    width: 100%;
  
   
    ul {
      max-height: 0;
      overflow: hidden;
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 14px;
    }
  
   
    li {
      display: block;
      background: #102638;
      text-transform: uppercase;
      text-align: center;
      border-bottom: 1px solid #57FA7B;
  
      a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 0 26px;
        font-family: 'Fira Sans';
  
        &:active,
        &:focus   {
          color: #57FA7B;
        }
      }
    }
  
  
    .open-menu {
      box-shadow: 0 1px 2px rgba(0,0,0,.5);
      max-height: 400px;
      transition: max-height .4s ease;
    }
  }
  
  
  #nav-mobile {
    background: transparent;
    border: 0;
    cursor: pointer;
    float: right;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    top: -60px;
    opacity: 0.6;
  
   
    &.nav-open {
      opacity: 1;
    }
  
    span {
      display: block;
      width: 60%;
      margin: 4px auto;
      height: 2px;
      background: #57FA7B
    }
  }
  
  @media only screen and (min-width: 768px) {
    #nav-mobile{ display: none; }
  

    #menu {
      width: auto;
      float: right;
      top: 0;
      position: relative;
  
      .open-menu {
        box-shadow: none;
      }
  
  
      ul {
        max-height: inherit;
      }
  
  
      li {
        float: left;
        border: 0;
        background: transparent;
  
        a {
          display: block;
          color: #fff;
          padding: 0 26px;
          }
        }
      }
    }
  
  
  

  /*fin menu responsive */



.tablactfs{
  background-image: url(https://dkvs.github.io/worskpace/img/ctfs-background.png);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
  

  /* Estilos generales */
  .table-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    width: 85%;
    background: linear-gradient(to top, #102638, 90%,#57FA7B);
    color: white;
    font-family: 'Fira Sans';
    font-weight: 300;
  }
  
  .fixed-table {
    border-collapse: collapse;
    /* Set a fixed width for the table or use a percentage as needed */
    width: 100%; /* Table now takes 100% of its container's width */
  }
  
  .fixed-table th,
  .fixed-table td {
    border: 1px solid #57FA7B;
    padding: 8px;
  }
  
  /* Establece el ancho de las columnas desplazables (ajusta el valor según tus necesidades) */
  .fixed-table th:nth-child(3),
  .fixed-table td:nth-child(3),
  .fixed-table th:nth-child(4),
  .fixed-table td:nth-child(4),
  .fixed-table th:nth-child(5),
  .fixed-table td:nth-child(5),
  .fixed-table th:nth-child(6),
  .fixed-table td:nth-child(6),
  .fixed-table th:nth-child(7),
  .fixed-table td:nth-child(7),
  .fixed-table th:nth-child(8),
  .fixed-table td:nth-child(8),
  .fixed-table th:nth-child(9),
  .fixed-table td:nth-child(9),
  .fixed-table th:nth-child(10),
  .fixed-table td:nth-child(10),
  .fixed-table th:nth-child(11),
  .fixed-table td:nth-child(11) {
    min-width: 200px;
  }
  
  /* Estilos de las columnas fijas */
  .fixed-table th:nth-child(1),
  .fixed-table td:nth-child(1) {
    position: sticky;
    background-color: #102638;
    left: 0;
    z-index: 1;
    min-width: 100px;
  }
  
  .fixed-table th:nth-child(2),
  .fixed-table td:nth-child(2) {
    left: 100px;
  }
  



